<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <title>IC - Web Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="public/assets/images/IC-logo.png">

        
        <!--venobox lightbox-->
        <link rel="stylesheet" href="public/assets/plugins/magnific-popup/dist/magnific-popup.css">

        <link rel="stylesheet" type="text/css" href="public/engine1/style.css" />
    <script type="text/javascript" src="public/engine1/jquery.js"></script>

        <link href="public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/core.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/components.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/pages.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/menu.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/responsive.css" rel="stylesheet" type="text/css">

        <script src="public/assets/js/modernizr.min.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>


    <body>
<!--Account Successfully Login start-->

        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main  navbar m-b-0 b-0" style="background-color: #d64809">
                <div class="container">

                    <!-- LOGO -->
                    <div class="topbar-left">
                        <a href="index.html" class="logo ">
                            <img src="public/assets/images/IC-logo.png" class="thumb-md"><span style="color:#343434;"> Initao College<span> WebPortal</span></span>
                           
                        </a>
                    </div>
                    <!-- End Logo container-->


                    <div class="menu-extras">

                        <ul class="nav navbar-nav navbar-right pull-right">
                            <li>
                                <a href="/main" class="dropdown-toggle waves-effect waves-light profile">
                                   <span> Sign In </span><i class="fa fa-sign-in"></i> 
                                   
                                </a>
                            </li>
                        </ul>
                        <div class="menu-item">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </div>
                    </div>

                </div>
            </div>

            <div class="navbar-custom">
                <div class="container">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">
                            <li >
                                <a href="javascript:void(0)"><i class="fa fa-book"></i> <span> Academe </span> </a>
                            </li>
                            <li >
                                <a href="javascript:void(0)"><i class="fa fa-star"></i> <span> Events </span> </a>
                            </li>
                            <li >
                                <a href="javascript:void(0)"><i class="fa fa-newspaper-o"></i> <span> News </span> </a>
                            </li>
                            <li >
                                <a href="javascript:void(0)"><i class="fa fa-users"></i> <span> Recognitions </span> </a>
                            </li>
                            <li >
                                <a href="javascript:void(0)"><i class="fa fa-institution"></i> <span> About Us </span> </a>
                            </li>




                            

                            

                        </ul>
                        <!-- End navigation menu  -->
                    </div>
                </div>
            </div>
        </header>
        <!-- End Navigation Bar-->


        <div class="wrapper">
            <div class="container" style="min-height:377px">


           <div class="row">
            <div class="" style="padding-bottom: 20px">
                <div id="wowslider-container1">
                    <div class="ws_images" width="600px" height="auto">
                        <ul>
                            <li><img src="public/assets/data1/images/img1.jpg" alt="slideimage1" title="slideimage1" id="wows1_0" class="img-responsive" /></li>
                            <li><img src="public/assets/data1/images/img2.jpg" alt="slideimage2" title="slideimage2" id="wows1_1"class="img-responsive"/></li>
                            <li><img src="public/assets/data1/images/img3.jpg" alt="jquery image slider" title="slideimage3" id="wows1_2" class="img-responsive"/></li>
                            <li><img src="public/assets/data1/images/img4.jpg" alt="slideimage4" title="slideimage4" id="wows1_3"class="img-responsive"/></li>
                        </ul>
                    </div>
    <!--
    <div class="ws_bullets"><div>
        <a href="#" title="slideimage1"><span><img src="data1/tooltips/slideimage1.jpg" alt="slideimage1"/>1</span></a>
        <a href="#" title="slideimage2"><span><img src="data1/tooltips/slideimage2.jpg" alt="slideimage2"/>2</span></a>
        <a href="#" title="slideimage3"><span><img src="data1/tooltips/slideimage3.jpg" alt="slideimage3"/>3</span></a>
        <a href="#" title="slideimage4"><span><img src="data1/tooltips/slideimage4.jpg" alt="slideimage4"/>4</span></a>
    </div></div>
    -->
                    <div class="ws_shadow"></div>
                </div>  
            </div>
                    </div>

                <div class="row text-center">
                    <div class="col-sm-12" style="padding-bottom: 10px;">
                        <h4 class="page-title"> LATEST UPDATES </h4>
                    </div>
                </div>
                

                <div class="col-sm-12">
                <div class="col-sm-9">
                <h3>LATEST NEWS</h3>
                <div class="row" >
                    <div class="col-sm-12">
                       <div class="panel panel-info panel-border">
                            <div class="panel-heading">
                                <h3 class="panel-title">Applying for Eating</h3>
                            </div>
                            <div class="col-sm-4">
                                  <a href="public/assets/data1/images/img1.jpg" class="image-popup" title="Applying for OJT">
                             <img src="public/assets/data1/images/img1.jpg" class="thumb-img img-xs img-responsive">
                             </a>
                            </div>
                            <div class="panel-body">
                                
                                <div class="">
                                    <blockquote>
                                        <p>I would like to express my sincere desire to apply for an On-The-Job training program in this institution. I am Jehu Jairu Montaus, a senior, taking up Bachelor of Science in Information Technology at Mindanao State University at Naawan.</p>
                                </blockquote>
                                <footer class="text-muted pull-right" style="margin-top: 10px"> 
                             <span class="label label-info">News</span>
                            </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                   <div class="row port">
                    <div class="portfolioContainer">
                        <div class="col-sm-6 col-lg-3 col-md-4">
                          <a href="javascript:void(0);"  class="text-color text-inverse" data-toggle="modal" data-target="#viewPost">
                       <div class="panel panel-info panel-border">
                            <div class="panel-heading">
                            <h3 class="panel-title">POST TITLE - NEWS 1</h3>
                            </div>
                            <div class="panel-body">
                            
                             <img src="public/assets/data1/images/img2.jpg" class="thumb-img img-xs img-responsive">
                             
                             <footer class="text-muted" style="margin-top: 10px"> 
                             <span class="label label-info">News</span>
                            </footer>
                            </div>
                        </div>
                        </a>
                        
                        </div>
                       <div class="col-sm-6 col-lg-3 col-md-4">
                       <a href="javascript:void(0);"  class="text-color text-inverse" data-toggle="modal" data-target="#viewPost">
                       <div class="panel panel-info panel-border">
                            <div class="panel-heading">
                            <h3 class="panel-title">POST TITLE - NEWS 1</h3>
                            </div>
                            <div class="panel-body">
                            
                             <img src="public/assets/data1/images/img3.jpg" class="thumb-img img-xs img-responsive">
                             
                             <footer class="text-muted" style="margin-top: 10px"> 
                             <span class="label label-info">News</span>
                            </footer>
                            </div>
                        </div>
                        </a>
                        </div>
                        <div class="col-sm-6 col-lg-3 col-md-4">
                           <a href="javascript:void(0);"  class="text-color text-inverse" data-toggle="modal" data-target="#viewPost">
                       <div class="panel panel-info panel-border">
                            <div class="panel-heading">
                            <h3 class="panel-title">POST TITLE - NEWS 1</h3>
                            </div>
                            <div class="panel-body">
                            
                             <img src="public/assets/data1/images/img4.jpg" class="thumb-img img-xs img-responsive">
                             
                             <footer class="text-muted" style="margin-top: 10px"> 
                             <span class="label label-info">News</span>
                            </footer>
                            </div>
                        </div>
                        </a>
                        </div>
                        <div class="col-sm-6 col-lg-3 col-md-4">
                           <a href="javascript:void(0);"  class="text-color text-inverse" data-toggle="modal" data-target="#viewPost">
                       <div class="panel panel-info panel-border">
                            <div class="panel-heading">
                            <h3 class="panel-title">POST TITLE - NEWS 1</h3>
                            </div>
                            <div class="panel-body">
                            
                             <img src="public/assets/data1/images/img5.jpg" class="thumb-img img-xs img-responsive">
                             
                             <footer class="text-muted" style="margin-top: 10px"> 
                             <span class="label label-info">News</span>
                            </footer>
                            </div>
                        </div>
                        </a>
                        </div>
                        

                    </div>
                </div> <!-- End row -->
                    <div class="pull-right text-muted">
                    <a href=""><i class="fa fa-eye"></i><span> See more..</span></a>
                    </div>

                    <div style="padding-top: 20px;">
            <h3>CAREER</h3>
                <div class="row port">
                    <div class="portfolioContainer">
                        <div class="col-sm-6 col-lg-3 col-md-4">
                           <a href="javascript:void(0);"  class="text-color text-inverse" data-toggle="modal" data-target="#viewPost">
                            <div class="panel panel-danger panel-border">
                            <div class="panel-heading">
                            <h3 class="panel-title">OJT for HRM</h3>
                            </div>
                            <div class="panel-body">
                             <img src="public/assets/data1/images/img1.jpg" class="thumb-img img-xs img-responsive">
                             <footer class="text-muted" style="margin-top: 10px"> 
                             <span class="label label-danger">Job Hiring</span> <span class="label label-purple">OJT</span>
                            </footer>
                            </div>
                        </div>
                        </a>
                        </div>
                       <div class="col-sm-6 col-lg-3 col-md-4">
                       <a href="javascript:void(0);"  class="text-color text-inverse" data-toggle="modal" data-target="#viewPost">
                            <div class="panel panel-danger panel-border">
                            <div class="panel-heading">
                            <h3 class="panel-title">OJT for HRM</h3>
                            </div>
                            <div class="panel-body">
                             <img src="public/assets/data1/images/img2.jpg" class="thumb-img img-xs img-responsive">
                             <footer class="text-muted" style="margin-top: 10px"> 
                             <span class="label label-danger">Job Hiring</span> <span class="label label-purple">OJT</span>
                            </footer>
                            </div>
                        </div>
                        </a>
                        </div>
                        <div class="col-sm-6 col-lg-3 col-md-4">
                          <a href="javascript:void(0);"  class="text-color text-inverse" data-toggle="modal" data-target="#viewPost">
                            <div class="panel panel-danger panel-border">
                            <div class="panel-heading">
                            <h3 class="panel-title">OJT for HRM</h3>
                            </div>
                            <div class="panel-body">
                             <img src="public/assets/data1/images/img3.jpg" class="thumb-img img-xs img-responsive">
                             <footer class="text-muted" style="margin-top: 10px"> 
                             <span class="label label-danger">Job Hiring</span> <span class="label label-purple">OJT</span>
                            </footer>
                            </div>
                        </div>
                        </a>
                        </div>
                        <div class="col-sm-6 col-lg-3 col-md-4">
                          <a href="javascript:void(0);"  class="text-color text-inverse" data-toggle="modal" data-target="#viewPost">
                            <div class="panel panel-danger panel-border">
                            <div class="panel-heading">
                            <h3 class="panel-title">OJT for HRM</h3>
                            </div>
                            <div class="panel-body">
                             <img src="public/assets/data1/images/img4.jpg" class="thumb-img img-xs img-responsive">
                             <footer class="text-muted" style="margin-top: 10px"> 
                             <span class="label label-danger">Job Hiring</span> <span class="label label-purple">OJT</span>
                            </footer>
                            </div>
                        </div>
                        </a>
                        </div>
                        

                    </div>
                </div> <!-- End row -->
                </div>
                <div class="pull-right text-muted">
                    <a href="career.html"><i class="fa fa-eye"></i><span> See more..</span></a>
                    </div>
                </div>

                <div class="col-sm-3">
                <div class="col-sm-12">
                   <div class="row">
                       <h3>EVENTS</h3>
                       <div class="panel panel-success panel-border">
                            <div class="panel-heading">
                                <h3 class="panel-title">Event 1</h3>
                            </div>
                            <div class="panel-body">
                               <img src="public/assets/data1/images/img5.jpg" class="thumb-img img-xs ">
                               <div style="padding-top: 10px" class="text-center">
                                    <p>A group of students that undergo in CAPSTONE subject will have their DEFENSE of their proposed project</p>
                                   <p><strong>April 19, 2017</strong></p>
                                   <small><strong>8:00 AM to 10:00 PM</strong></small>

                               </div>
                               
                            <footer class="text-muted" style="margin-top: 10px"> 
                             <span class="label label-success">Event</span>
                            </footer>          
                            </div>
                        </div>
                        <div class="panel panel-color panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title"><i class="fa fa-bell-o"></i> ALL EVENTS</h4>
                            </div>
                            <div class="panel-body">
                                <div class="inbox-widget nicescroll mx-box" >
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="public/assets/data1/images/img5.jpg" class="img-square" alt=""></div>
                                            <p class="inbox-item-author">Meeting</p>
                                            <p class="inbox-item-text">August 31, 2017</p>
                                            <p class="inbox-item-text text-center">9:00 AM to 5:00 PM</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="public/assets/data1/images/img5.jpg" class="img-square" alt=""></div>
                                            <p class="inbox-item-author">Meeting</p>
                                            <p class="inbox-item-text">August 31, 2017</p>
                                            <p class="inbox-item-text text-center">9:00 AM to 5:00 PM</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="public/assets/data1/images/img5.jpg" class="img-square" alt=""></div>
                                            <p class="inbox-item-author">Meeting</p>
                                            <p class="inbox-item-text">August 31, 2017</p>
                                            <p class="inbox-item-text text-center">9:00 AM to 5:00 PM</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="public/assets/data1/images/img5.jpg" class="img-square" alt=""></div>
                                            <p class="inbox-item-author">Meeting</p>
                                            <p class="inbox-item-text">August 31, 2017</p>
                                            <p class="inbox-item-text text-center">9:00 AM to 5:00 PM</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="public/assets/data1/images/img5.jpg" class="img-square" alt=""></div>
                                            <p class="inbox-item-author">Meeting</p>
                                            <p class="inbox-item-text">August 31, 2017</p>
                                            <p class="inbox-item-text text-center">9:00 AM to 5:00 PM</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="public/assets/data1/images/img5.jpg" class="img-square" alt=""></div>
                                            <p class="inbox-item-author">Meeting</p>
                                            <p class="inbox-item-text">August 31, 2017</p>
                                            <p class="inbox-item-text text-center">9:00 AM to 5:00 PM</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="public/assets/data1/images/img5.jpg" class="img-square" alt=""></div>
                                            <p class="inbox-item-author">Meeting</p>
                                            <p class="inbox-item-text">August 31, 2017</p>
                                            <p class="inbox-item-text text-center">9:00 AM to 5:00 PM</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="public/assets/data1/images/img5.jpg" class="img-square" alt=""></div>
                                            <p class="inbox-item-author">Meeting</p>
                                            <p class="inbox-item-text">August 31, 2017</p>
                                            <p class="inbox-item-text text-center">9:00 AM to 5:00 PM</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="public/assets/data1/images/img5.jpg" class="img-square" alt=""></div>
                                            <p class="inbox-item-author">Meeting</p>
                                            <p class="inbox-item-text">August 31, 2017</p>
                                            <p class="inbox-item-text text-center">9:00 AM to 5:00 PM</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="assets/images/gallery/3.jpg" class="img-square" alt=""></div>
                                            <p class="inbox-item-author">Meeting</p>
                                            <p class="inbox-item-text">August 31, 2017</p>
                                            <p class="inbox-item-text text-center">9:00 AM to 5:00 PM</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                   </div>
                   </div>
                </div>

                </div>
                <!--view news modal start-->
                <div id="viewPost" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
                                    <div class="modal-dialog">
                                        <div class="modal-content p-0 b-0">
                                           <div class="panel panel-inverse panel-border">
                            <div class="panel-heading">
                            <a href="#" data-dismiss="modal" aria-hidden="true" type="button" class="close" >×</a>
                                <h3 class="panel-title">Applying for OJT</h3>
                            </div>
                            
                            <div class="panel-body">
                                <div class="col-sm-12" style="object-position: center;">
                                    <img src="assets/images/gallery/1.jpg" class="thumb-img img-xs img-responsive">
                            </div>
                                <div class="col-sm-12">
                                    <blockquote>
                                        <p>I would like to express my sincere desire to apply for an On-The-Job training program in this institution. I am Jehu Jairu Montaus, a senior, taking up Bachelor of Science in Information Technology at Mindanao State University at Naawan.</p>
                                </blockquote>
                                <footer class="text-muted pull-right" style="margin-top: 10px"> 
                             <span>Category: </span><span class="label label-info">News</span>
                            </footer>
                                </div>
                            </div>
                        </div> 
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            <!--view news modal ends-->

                

                <!-- Footer -->
                <footer class="footer text-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                2016 © Moltran.
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End Footer -->

            </div>
            <!-- end container -->


        </div>
    <!--Account Successfully Login end-->




        <!-- jQuery  -->
        <script src="public/assets/js/jquery.min.js"></script>
        <script src="public/assets/js/bootstrap.min.js"></script>
        <script src="public/assets/js/detect.js"></script>
        <script src="public/assets/js/fastclick.js"></script>
        <script src="public/assets/js/jquery.blockUI.js"></script>
        <script src="public/assets/js/waves.js"></script>
        <script src="public/assets/js/wow.min.js"></script>
        <script src="public/assets/js/jquery.nicescroll.js"></script>
        <script src="public/assets/js/jquery.scrollTo.min.js"></script>

        <!-- App js -->
        <script src="public/assets/js/jquery.app.js"></script>

        <script type="text/javascript" src="public/engine1/wowslider.js"></script>
    <script type="text/javascript" src="public/engine1/script.js"></script>



        <script type="text/javascript" src="assets/plugins/isotope/dist/isotope.pkgd.min.js"></script>
        
        <script type="text/javascript">
            $(window).load(function(){
                var $container = $('.portfolioContainer');
                $container.isotope({
                    filter: '*',
                    animationOptions: {
                        duration: 750,
                        easing: 'linear',
                        queue: false
                    }
                });

                $('.portfolioFilter a').click(function(){
                    $('.portfolioFilter .current').removeClass('current');
                    $(this).addClass('current');

                    var selector = $(this).attr('data-filter');
                    $container.isotope({
                        filter: selector,
                        animationOptions: {
                            duration: 750,
                            easing: 'linear',
                            queue: false
                        }
                    });
                    return false;
                });
            });
        </script>

    </body>
</html>