<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>AdminLTE | Dashboard</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <!--link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" /-->
    <link href="public/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="public/bower_components/angular-toastr/dist/angular-toastr.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <!--link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" /-->
    <link href="public/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="public/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <link href="public/css/style.css" rel="stylesheet" type="text/css" />

    <link href="public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/core.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/components.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/pages.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/menu.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins 
         folder instead of downloading all of them to reduce the load. -->
    <link href="public/css/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="public/bower_components/textAngular/dist/textAngular.css">
    <link rel="stylesheet" href="public/bower_components/angular-materialize/css/style.css">
    <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class="skin-blue" ng-app="ICCP">
    <!--
        *
        *
        *
        Angular View
        *
        *
        *
        -->
    <div ui-view></div>
    <!--
        *
        *
        *
        Angular View
        *
        *
        *
        -->
    <!-- ./wrapper -->
    <!-- jQuery 2.1.3 -->
    <script src="public/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Angular JS -->
    <script src="public/bower_components/angular/angular.min.js" type="text/javascript"></script>
    <!-- Angular Ui Router -->
    <script src="public/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="public/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <!--<script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>-->
    <script src="public/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- iCheck -->
    <script src="public/bower_components/iCheck/icheck.min.js" type="text/javascript"></script>
    <!-- SlimScroll 1.3.0 -->
    <script src="public/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="public/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="public/bower_components/async/dist/async.min.js"></script>
    <script src="public/bower_components/restangular/dist/restangular.js"></script>
    <script src="public/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="public/bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="public/bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="public/bower_components/textAngular/dist/textAngular-rangy.min.js"></script>
    <script src="public/bower_components/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script src="public/bower_components/textAngular/dist/textAngular.min.js"></script>
    <script src="public/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="public/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="public/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <!-- 
  *
  *
  *
  *
  *
  ANGULAR
  *
  *
  *
  *
  *
  *
   -->
    <!-- AdminLTE App -->
    <script src="public/js/plugin.js"></script>
    <script src="public/js/app.js"></script>
    <script src="public/js/directive.js"></script>
    <!-- CONTROLLER -->
    <script src="public/js/controller/alumni.controller.js"></script>
    <script src="public/js/controller/alumni.detail.controller.js"></script>
    <script src="public/js/controller/wallpost.controller.js"></script>
    <!-- SERVICES -->
    <script src="public/js/services/services.js"></script>
</body>

</html>
