<div class="row">
    <form role="form" name="pricebookForm" ng-submit="addAlumni()">
        <!--  <div class="col-sm-6">
            <div class="form-group">
                <label>Student id</label>
                <input type="text" ng-model="detail.firstname" class="form-control" placeholder="Student id" numbers-only required />
            </div>
        </div> -->
        <div class="col-md-9">
            <div class="box-body">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Student id</label>
                        <input type="text" ng-model="detail.student_id" class="form-control" placeholder="Student id" numbers-only required />
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group" ng-if="displays">
                    <label>Status: </label>
                    <span ng-if="detail.job_history.status == 'Current'" class="label label-success">Employee</span>
                    <span ng-if="detail.job_history.status == 'Previous'|| detail.job_history.status == null" class="label label-warning">Unemployee</span>
                    <!--  <span ng-if="details.is_published == 1 && details.is_archived == 0" class="label label-success">published</span>
                            <span ng-if="details.is_archived == 1 && details.is_published == 0" class="label label-danger">archived</span> -->
                </div>
                <div class="col-sm-6">
                    <div class="form-group ">
                        <label>Firstname</label>
                        <input type="text" ng-model="detail.firstname" class="form-control" placeholder="Firstname" required />
                    </div>
                    <div class="form-group ">
                        <label>Middlename</label>
                        <input type="text" ng-model="detail.middlename" class="form-control" placeholder="Middlename" />
                    </div>
                    <div class="form-group ">
                        <label>Lastname</label>
                        <input type="text" ng-model="detail.lastname" class="form-control" placeholder="Lastname" required />
                    </div>
                    <div class="form-group ">
                        <label>Gender</label>
                        <!-- <input type="text" ng-model="detail.gender" class="form-control" placeholder="Gender" required /> -->
                        <select class="form-control" ng-model="detail.gender">
                            <option value="" selected="true" disabled>Select Course</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label>Contact Number</label>
                        <input type="text" ng-model="detail.contactnum" class="form-control" placeholder="Contact Number" numbers-only required />
                    </div>
                    <div class="form-group ">
                        <label>Nationality</label>
                        <input type="text" ng-model="detail.nationality" class="form-control" placeholder="Nationality" required />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group ">
                        <label>Date of Birth</label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="detail.birth_date" data-date-format="MM-dd-yyyy" bs-datepicker placeholder="MM/DD/YYYY" />
                            <div class="input-group-addon">
                                <i class="fa fa-fw fa-calendar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label>Email Address</label>
                        <input type="text" ng-model="detail.email_address" class="form-control" placeholder="Email Address" required />
                    </div>
                    <div class="form-group ">
                        <label>Course Graduated</label>
                        <select class="form-control" ng-model="detail.course" ng-options="item.course_id as item.name for item in courses">
                            <option value="" selected="true" disabled>Select Course</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label>Month Graduated</label>
                                <select class="form-control" ng-model="detail.month_graduated">
                                    <option value="" selected="true" disabled>Select Month</option>
                                    <option value="January">January</option>
                                    <option value="February">February</option>
                                    <option value="March">March</option>
                                    <option value="April">April</option>
                                    <option value="May">May</option>
                                    <option value="June">June</option>
                                    <option value="July">July</option>
                                    <option value="August">August</option>
                                    <option value="September">September</option>
                                    <option value="October">October</option>
                                    <option value="November">November</option>
                                    <option value="December">December</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label>Year Graduated</label>
                                <select class="form-control" ng-model="detail.year_graduate" ng-options="item.year_graduated as (item.name +' ' + '(' + item.year_graduated + ')') for item in batches" ng-change="getBatch(detail.year_graduate)">
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group col-md-6">
                            <label>Year Graduated</label>
                            <input type="text" ng-model="detail.year_graduate" class="form-control" placeholder="Year Graduated" numbers-only required />
                        </div> -->
                    <div class="form-group ">
                        <label>Civil Status</label>
                        <select class="form-control" ng-model="detail.civil">
                            <option value="" selected="true" disabled>Select Course</option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                        </select>
                    </div>
                    <!-- <div class="form-group col-md-6">
                            <label>Civil Status</label>
                            <input type="text" ng-model="detail.civil" class="form-control" placeholder="Civil" required />
                        </div> -->
                    <div class="form-group ">
                        <label>Home Address</label>
                        <input type="text" ng-model="detail.address" class="form-control" placeholder="Address" required />
                    </div>
                </div>
                <!-- <div class="form-group col-md-6"> -->
                <!-- <label>Batch Name</label> -->
                <!-- <select class="form-control" ng-model="detail.batch_name" ng-options="item.name as item.name for item in batches"> -->
                <!-- <option value="" selected="true" disabled>Select Batch</option> -->
                <!-- </select> -->
                <!-- <input type="text" ng-model="detail.batch_name" class="form-control" placeholder="Batch name" required /> -->
                <!-- </div> -->
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group text-center">
                <img ngf-src="detail.image_path || image_new || './public/assets/images/users/avatar.png' " lass="thumbnail" width="250" height="250">
                <div class="input-group image-preview">
                    <!-- <div class="input-group-btn">
                        <button type="button" class="btn btn-warning image-preview-clear" ng-click="removethumb()" ng-show="details.image"> <span class="glyphicon glyphicon-remove"></span> Clear
                        </button>
                        <div class="btn btn-primary image-preview-input">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="image-preview-input-title">Browse</span>
                            <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" ng-model="detail.image_path" ngf-max-size="8MB" ngf-select="upload($files)" />
                        </div>
                    </div> -->
                    <input class="ng-hide" id="input-file-id" type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" ng-model="detail.image_path" ngf-max-size="8MB" ngf-select="upload($files)" />
                    <label for="input-file-id" class="md-button md-raised md-primary">Select Image</label>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" ng-disabled="bundleForm.$invalid" class="md-button md-raised md-primary btn-flat btn-block">Save Entry</button>
                <a class="btn btn-success btn-flat btn-block" ng-show="showPublish" ng-click="publishProduct(detail.pb_id)">Publish</a>
                <a class="btn btn-info n-danger btn-flat btn-block" ng-show="showArchive" ng-click="archiveProduct(detail.pb_id)">Archive</a>
                <a class="md-button md-raised btn-block" ng-click="goBack()">Cancel</a>
            </div>
        </div>
    </form>
</div>
<style type="text/css">
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.md-button.md-primary.md-raised {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(63, 81, 181);
}

.card [data-background-color="inverse"] {
    background: linear-gradient(60deg, #1c2833, #212f3d);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.md-button {
    border-radius: 3px;
    box-sizing: border-box;
    color: currentColor;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: none;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 6px;
    margin: 6px 8px;
    line-height: 36px;
    min-height: 36px;
    background: transparent;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    letter-spacing: 0.010em;
}
</style>
