<!-- <section class="content-header"> -->
    <!-- <h1 class="text-center" style="color: #e96154 !important;font-size:  36px !important;">Add Alumni</h1> -->
   <!--  <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="alumni">Alumni List</a></li>
        <li class="active">Add Alumni</li>
    </ol> -->
<!-- </section> -->
<section class="content" >
<div class=card>
    <div class="card-header" data-background-color="inverse">
        <h4 class="title">Alumni Details</h4>
    </div>
    <div class="card-content">
        <ng-include src="'./public/templates/add.alumni.html'"></ng-include>
    </div>
    
</div>
    <!-- <div class="nav-tabs-custom" bs-tabs> -->
        <!-- <ng-include src="'./public/templates/add.alumni.html'"></ng-include> -->
        <!-- <div data-title="<i class='fa fa-list'></i> Job History" bs-pane>
            <ng-include src="'./public/templates/job_history.html'"></ng-include>
        </div> -->
    <!-- </div> -->
</section>
<style type="text/css">
    
/*card*/
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
}
.card [data-background-color] {
    color: #FFFFFF;
}

.card [data-background-color="orange"] {
    background: linear-gradient(60deg, #d36434, #d25925);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
.card [data-background-color="inverse"] {
    background: linear-gradient(60deg, #1c2833, #212f3d);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
.card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #999999;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}
.card .card-header .title {
    color: #FFFFFF;
}

.card .title {
    margin-top: 0;
    margin-bottom: 5px;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

h4, .h4 {
    font-size: 1.3em;
    line-height: 1.4em;
}

.h4, h4 {
    font-size: 18px;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}



.card .card-header .category {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.62);
}

.card .category:not([class*="text-"]) {
    color: #999999;
}

p {
    margin: 0 0 10px;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.card .card-content {
    padding: 15px 20px;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
.card .table {
    margin-bottom: 10px;
}

.table {
    width: 100%;
    max-width: 100%;
    /*margin-bottom: 20px;*/
}

table {
    background-color: transparent;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table-head-color {
    color: #d64809;
}
.btn .btn-flat
{
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
}


/*button*/



</style>
