<!-- Content Header (Page header) -->

<section class="content" >
    <div class="row" role="search-row">
    <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{alumnis.length}}</h3>
                    <p>Total number of Alumni</p>
                </div>
                <div class="icon">
                    <i class="ion-ios-person"></i>
                </div>
                <!-- <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a> -->
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua" ui-sref="main.useraccounts">
                <div class="inner">
                    <h3>{{accountalumni.length}}</h3>
                    <p>Total number of Registered Alumni Account</p>
                </div>
                <div class="icon">
                    <i class="ion-ios-person"></i>
                </div>
                <!-- <a href="" class="small-box-footer" ui-sref="main.useraccounts">More info <i class="fa fa-arrow-circle-right"></i></a> -->
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card" >
                <div class="card-header" data-background-color="inverse">
                    <h4 class="title">List of Alumni</h4>
                </div>
                <!-- <div class="card-content padding p-0"> -->
                
                    <div class="card-content table-responsive col-sm-12">
                    <div class="col-sm-12">
                <div class="pull-left">
                        <form class="form-inline">
                            <div class="form-group">
                                <a class="md-button md-raised btn-sm btn-primary" ui-sref="main.addalumni">
                                    <i class="fa fa-edit"></i> Add New Entry
                                </a>
                                <a ng-click="refresh()" class="md-button md-raised btn-sm btn-success">
                                    <i class="fa fa-refresh"></i> Refresh
                                </a>
                               <!--  <a ng-click="exportModal()" class="md-button md-raised btn-sm btn-success">
                                    <i class="fa fa-table"></i> Print List
                                </a> -->
                            </div>
                        </form>
                    </div>
                    <div class="pull-right">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" placeholder="Search for..." ng-model="txtSearch" ng-change="(txtSearch.length < 1)?searchData():0">
                                            <div class="input-group-btn">
                                                <button class="btn btn-flat btn-sm btn-default" ng-click="searchData()" ng-keypress="($event.which === 13)?searchData():0"><i class="fa fa-search"></i></button>
                                            </div>
                                            <!--    <span class="input-group-btn">
                                                <button class="btn btn-sm btn-flat btn-warning dropdown-toggle" data-toggle="dropdown">{{applicationStatus}}<span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a ng-click="updateStatus('All')">All</a>
                                                </li>
                                                <li><a ng-click="updateStatus('Employeed')">Employeed</a>
                                                </li>
                                                <li><a ng-click="updateStatus('Unemployeed')">Unemployeed</a>
                                                </li>
                                            </ul>
                                            </span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                    <table class="table table-hover table-condensed" ng-table="alumniTable">
                        <tr ng-repeat="alumni in $data" >
                            <td class="" data-title="'Firstname'">
                                <a  ui-sref="main.addalumni({id:alumni.alumni_id})">{{alumni.firstname}}</a>
                            </td>
                            <td class="" data-title="'Lastname'">
                                {{alumni.lastname}}
                            </td>
                            <td class="" data-title="'Home Address'">
                                {{alumni.address}}
                            </td>
                            <td  class="" data-title="'Course'">
                                {{alumni.course.name}}
                            </td>
                            <td class="text-center" data-title="'Year Graduated'">
                                {{alumni.year_graduate}}
                            </td>
                        </tr>
                       
                        <!--  <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Address</th>
                                <th>Course</th>
                                <th>Year Graduated</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        </tbody>
                        <tr ng-repeat="alumnu in alumnis">
                            <td>{{alumnu.firstname}}</td>
                            <td>{{alumnu.lastname}}</td>
                            <td>{{alumnu.address}}</td>
                            <td>{{alumnu.course.name}}</td>
                            <td>{{alumnu.year_graduate}}</td>
                            <td class="text-right">
                                <button class="btn btn-info btn-xs btn-flat" ui-sref="main.addalumni({id:alumnu.alumni_id})"><i class="glyphicon glyphicon-edit"></i></button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot class="hide-if-no-paging">
                            <tr>
                                <td colspan="10" align="center">
                                    <ul class="pagination"></ul>
                                </td>
                            </tr>
                        </tfoot> -->
                    </table>
                    <div class="text-center">
                    <uib-pagination boundary-links="true" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div>
                    </div>
                <!-- </div> -->
                
            </div>
        </div>
    </div>
</section>

<style type="text/css">
    
    .panel {
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.panel .panel-body {
    padding: 20px;
}

.panel .panel-body p {
    margin: 0px;
}

.panel .panel-body p + p {
    margin-top: 15px;
}

.panel-heading {
    border-radius: 0;
    border: none !important;
    padding: 10px 20px;
}

.panel-default > .panel-heading {
    background-color: #fafafa;
    border-bottom: none;
    color: #797979;
}

.panel-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.panel-footer {
    background: #fafafa;
    border-top: 0px;
}

.panel-color .panel-title {
    color: #ffffff;
}

.panel-primary > .panel-heading {
    background-color: #6e8cd7;
}

.panel-primary > .panel-heading {
    background-color: #6e8cd7;
}


/*card*/
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
}
.card [data-background-color] {
    color: #FFFFFF;
}

.card [data-background-color="orange"] {
    background: linear-gradient(60deg, #d36434, #d25925);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.card [data-background-color="inverse"] {
    background: linear-gradient(60deg, #1c2833, #212f3d);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
.card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #999999;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}
.card .card-header .title {
    color: #FFFFFF;
}

.card .title {
    margin-top: 0;
    margin-bottom: 5px;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

h4, .h4 {
    font-size: 1.3em;
    line-height: 1.4em;
}

.h4, h4 {
    font-size: 18px;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}



.card .card-header .category {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.62);
}

.card .category:not([class*="text-"]) {
    color: #999999;
}

p {
    margin: 0 0 10px;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.card .card-content {
    padding: 15px 20px;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
.card .table {
    margin-bottom: 20px;
}

.table {
    width: 100%;
    max-width: 100%;
    /*margin-bottom: 20px;*/
}

table {
    background-color: transparent;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table-head-color {
    color: #d64809;
}
.btn .btn-flat
{
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
}

.md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.md-button.md-primary.md-raised{
    color: rgba(255,255,255,0.87);
    background-color: rgb(63,81,181);
}
.md-button {
    border-radius: 3px;
    box-sizing: border-box;
    color: currentColor;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: none;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 6px;
    margin: 6px 8px;
    line-height: 36px;
    min-height: 36px;
    background: transparent;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    letter-spacing: 0.010em;
}
</style>