<div class="wrapper">
    <header class="main-header">
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar" ng-include="'public/templates/nav.html'">
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" ui-view>
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer " style="background: #eeeeee">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.0
        </div>
        <strong>All rights reserved.</strong> 
    </footer>
</div>
<style type="text/css">
.content-wrapper{
   background-color: #eeeeee;
}


</style>
