<h3>LIST OF EVENTS</h3>
<div class="row">
    <div class="wrapper-page1">
        <div class="card">
                <div class="card-header" data-background-color="inverse">
                    <h4 class="title">Upcoming Events</h4>
                </div>
                <div class="card-content">
                   
                    <div class="timeline-2">
                        <div class="time-item"">
                            <div class="row" ng-repeat="event in events">
                                <div class="item-info">
                                    <div class="col-sm-12">
                                        <div class="inbox-widget">
                                                <div class="inbox-item" ng-if="event.alumni">
                                                    <div class="inbox-item-img"><img ng-src="'./public/assets/images/IC-logo.png'" class="img-circle" alt=""></div>
                                                    <p class="inbox-item-author">Initao College</p>
                                                    <p class="inbox-item-text">Administrator</p>
                                                    <!-- <p class="inbox-item-text">2:30pm</p> -->
                                                </div>
                                        </div>
                                    </div>
                                    <!-- <div class="text-muted">3:15 PM</div> -->
                                    <div class="text-inverse"><strong style="font-size: 18px; margin-left: 20px;">{{event.subject}}</strong></div>
                                    <div class="col-sm-4" ng-if="post.image_path">
                                        <img src="{{post.image_path}}" class="thumbnail">
                                    </div>
                                    <div class="col-sm-8">
                                        <blockquote>
                                            <p ng-bind-html="event.post"></p>
                                        </blockquote>
                                         <div class="">
                                            <span><strong>Event Date: {{event.event_date | date:'longDate'}} </strong><i><!-- diri ibutang ang date sa event  --></i></span>
                                            <br>
                                            <span><strong>Start: {{event.event_start}}</strong><i><!-- diri ibutang ang date sa event  --></i></span>
                                            <br>
                                            <span><strong>End: {{event.event_end}}</strong><i><!-- diri ibutang ang date sa event  --></i></span>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-left">
                                        <span>Post Category: </span><span class="label label-success">Event</span> 
                                        <br>
                                        <span><small>{{event.date_created | amTimeAgo}}</small></span> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
    </div>
</div>
<style type="text/css">
textarea {
    resize: none;
}

.breadcrumb {
    float: left;
}

.pagination {
    margin-left: 190px !important;
}

.panel {
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.panel .panel-body {
    padding: 20px;
}

.panel .panel-body p {
    margin: 0px;
}

.panel .panel-body p + p {
    margin-top: 15px;
}

.panel-heading {
    border-radius: 0;
    border: none !important;
    padding: 10px 20px;
}

.panel-default > .panel-heading {
    background-color: #fafafa;
    border-bottom: none;
    color: #797979;
}

.panel-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.panel-footer {
    background: #fafafa;
    border-top: 0px;
}

.panel-color .panel-title {
    color: #ffffff;
}

.panel-admin > .panel-heading {
    background-color: #d64809;
}

.panel-admin > .panel-heading {
    background-color: #d64809;
}

.panel-primary > .panel-heading {
    background-color: #6e8cd7;
}

.panel-success > .panel-heading {
    background-color: #33b86c;
}

.panel-info > .panel-heading {
    background-color: #29b6f6;
}

.panel-warning > .panel-heading {
    background-color: #ffd740;
}

.panel-danger > .panel-heading {
    background-color: #ef5350;
}

.panel-purple > .panel-heading {
    background-color: #7e57c2;
}

.panel-pink > .panel-heading {
    background-color: #ec407a;
}

.panel-inverse > .panel-heading {
    background-color: #4c5667;
}



/* ==============
  Timeline-2
===================*/

.timeline-2 {
    border-left: 2px solid #14082d;
    position: relative;
}

.timeline-2 .time-item:after {
    background-color: #ffffff;
    border-color: #14082d;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    bottom: 0;
    content: '';
    height: 14px;
    left: 0;
    margin-left: -8px;
    position: absolute;
    top: 5px;
    width: 14px;
}

.time-item {
    border-color: #dee5e7;
    padding-bottom: 1px;
    position: relative;
}

.time-item:before {
    content: " ";
    display: table;
}

.time-item:after {
    background-color: #ffffff;
    border-color: #14082d;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    bottom: 0;
    content: '';
    height: 14px;
    left: 0;
    margin-left: -8px;
    position: absolute;
    top: 5px;
    width: 14px;
}

.time-item-item:after {
    content: " ";
    display: table;
}

.item-info {
    margin-bottom: 15px;
    margin-left: 15px;
}

.item-info p {
    margin-bottom: 10px !important;
}


/*for post contents*/

.text-inverse {
    color: #4c5667;
}

.thumb-img {
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    /*max-height: 300px;*/
}

img {
    border: 0;
}

* {
    outline: none !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 15px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

* {
    outline: none !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

blockquote {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    /*-webkit-margin-start: 40px;*/
    -webkit-margin-end: 15px;
}

.label-primary {
    background-color: #6e8cd7;
}

.label-success {
    background-color: #33b86c;
}

.label-info {
    background-color: #29b6f6;
}

.label-warning {
    background-color: #ffd740;
}

.label-danger {
    background-color: #ef5350;
}

.label-purple {
    background-color: #7e57c2;
}

.label-pink {
    background-color: #ec407a;
}

.label-inverse {
    background-color: #4c5667;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.wrapper-page {
    width: 77%;
    margin: 0 auto;
}

.wrapper-page1 {
    width: 80%;
    margin: 0 auto;
}

.inbox-widget .inbox-item {
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
}

.inbox-widget .inbox-item .inbox-item-img {
    display: block;
    float: left;
    margin-right: 15px;
    width: 40px;
}

.inbox-widget .inbox-item .inbox-item-author {
    color: #333333;
    display: block;
    margin: 0;
}

.inbox-widget .inbox-item .inbox-item-text {
    color: #a0a0a0;
    display: block;
    font-size: 12px;
    margin: 0;
}

.inbox-widget .inbox-item .inbox-item-date {
    color: #a9a9a9;
    font-size: 11px;
    position: absolute;
    right: 7px;
    top: 2px;
}

* {
    outline: none !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

.profile-info-name {
    position: relative;
}

.text-center {
    text-align: center;
}

* {
    outline: none !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

.thumb-lg {
    height: 88px;
    width: 88px;
}

.img-circle {
    border-radius: 50%;
}

.text-white {
    color: #ffffff;
}

h3 {
    line-height: 30px;
}

h6 {
    color: #505458;
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;
}

.user-tabs {
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-left: 0;
    margin-right: 0px;
}

* {
    outline: none !important;
}

.user-tabs .nav.nav-tabs {
    box-shadow: none !important;
}

.nav.nav-tabs {
    border-bottom: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.tabs {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0px;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.tabs li.tab {
    background-color: #ffffff;
    display: block;
    float: left;
    margin: 0;
    text-align: center;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav>li {
    position: relative;
    display: block;
}

.tabs {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0px;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.tabs li.tab {
    background-color: #ffffff;
    display: block;
    float: left;
    margin: 0;
    text-align: center;
}

.tabs li.tab a {
    -moz-transition: color 0.28s ease;
    -ms-transition: color 0.28s ease;
    -o-transition: color 0.28s ease;
    -webkit-transition: color 0.28s ease;
    color: #ee6e73;
    display: block;
    height: 100%;
    text-decoration: none;
    transition: color 0.28s ease;
    width: 100%;
}

.tabs li.tab a.active {
    color: #da4e09 !important;
}

.tabs .indicator {
    background-color: #da4e09;
    bottom: 0;
    height: 2px;
    position: absolute;
    will-change: left, right;
}

.tabs-top .indicator {
    top: 0;
}

.nav.nav-tabs + .tab-content {
    background: #ffffff;
    margin-bottom: 30px;
    padding: 30px;
}

.tabs-vertical-env {
    background-color: #eeeeee;
    margin-bottom: 30px;
}

.tabs-vertical-env .tab-content {
    background: #ffffff;
    display: table-cell;
    margin-bottom: 30px;
    padding: 30px;
    vertical-align: top;
}

.tabs-vertical-env .nav.tabs-vertical {
    display: table-cell;
    min-width: 120px;
    vertical-align: top;
    width: 150px;
}

.tabs-vertical-env .nav.tabs-vertical li.active > a {
    background-color: #ffffff;
    border: 0;
}

.tabs-vertical-env .nav.tabs-vertical li > a {
    color: #333333;
    text-align: center;
    white-space: nowrap;
}

.nav.nav-tabs > li.active > a {
    background-color: #ffffff;
    border: 0;
}

.nav.nav-tabs > li > a,
.nav.tabs-vertical > li > a {
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: #333333 !important;
    cursor: pointer;
    line-height: 50px;
    font-weight: 700;
    padding: 0px 20px;
}

.nav.nav-tabs > li > a:hover,
.nav.tabs-vertical > li > a:hover {
    color: #da4e09 !important;
}

.tab-content {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #777777;
}

.nav.nav-tabs > li:last-of-type a {
    margin-right: 0px;
}

.nav.nav-tabs {
    border-bottom: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.navtab-bg {
    background-color: #eeeeee;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus,
.tabs-vertical-env .nav.tabs-vertical li.active > a {
    border: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.tabs-vertical > li.active > a,
.tabs-vertical > li.active > a:focus,
.tabs-vertical > li.active > a:hover {
    color: #da4e09 !important;
}

.tab-content>.tab-pane {
    display: none
}

.tab-content>.active {
    display: block
}

.item-info p {
    margin-bottom: 0 !important;
}


/*profile*/

.snip1344 {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    line-height: 1.4em;
    background-color: #141414;
}

.snip1344 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.snip1344 .background {
    width: 100%;
    vertical-align: top;
    opacity: 0.2;
    -webkit-filter: grayscale(100%) blur(10px);
    filter: grayscale(100%) blur(10px);
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.snip1344 figcaption {
    width: 100%;
    padding: 15px 25px;
    position: absolute;
    left: 0;
    top: 50%;
}

.snip1344 .profile {
    position: absolute;
    bottom: 50%;
    left: 50%;
    max-width: 100px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.snip1344 h3 {
    margin: 0 0 5px;
    font-weight: 400;
}

.snip1344 h3 span {
    display: block;
    font-size: 0.6em;
    color: #f39c12;
    opacity: 0.75;
}


/*.snip1344 i {
  padding: 10px 5px;
  display: inline-block;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  opacity: 0.65;
}*/

.snip1344 a {
    text-decoration: none;
}

.snip1344 i:hover {
    opacity: 1;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1344:hover .background,
.snip1344.hover .background {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.nav-tabs-custom {
    background-color: #e5e5e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    width: auto 0;
    margin-bottom: 5px
}


/*card*/

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

.card [data-background-color] {
    color: #FFFFFF;
}

.card [data-background-color="orange"] {
    background: linear-gradient(60deg, #d36434, #d25925);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.card [data-background-color="inverse"] {
    background: linear-gradient(60deg, #1c2833, #212f3d);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #999999;
}

.card .card-header .title {
    color: #FFFFFF;
}

.card .title {
    margin-top: 0;
    margin-bottom: 5px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

h4,
.h4 {
    font-size: 1.3em;
    line-height: 1.4em;
}

.h4,
h4 {
    font-size: 18px;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-content {
    padding: 15px 20px;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-content {
    padding: 15px 20px;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.card .table {
    margin-bottom: 20px;
}

.table {
    width: 100%;
    max-width: 100%;
    /*margin-bottom: 20px;*/
}

table {
    background-color: transparent;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.md-button {
    border-radius: 3px;
    box-sizing: border-box;
    color: currentColor;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: none;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 6px;
    margin: 6px 8px;
    line-height: 36px;
    min-height: 36px;
    background: transparent;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    letter-spacing: 0.010em;
}

.md-button.md-primary.md-raised {
    color: rgba(255, 255, 255, 0.87);
    /*background-color: rgb(63,81,181);*/
    background-color: #1c2833;
}

.md-button.md-primary1.md-raised {
    color: rgba(255, 255, 255, 0.87);
    /*background-color: rgb(63,81,181);*/
    background-color: #1c2833;
}

.md-button.md-primary1.md-raised:hover {
    background-color: #d25925;
}

.md-button.md-primary.md-raised {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(63, 81, 181);
}

.md-button.md-selectImg.md-raised:hover {
    background-color: #d25925;
}
</style>