<div class="panel panel-color panel-inverse">
<div class="panel-heading">
    <h3 class="panel-title">Add New Course</h3>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-sm-12">
           <div class="form-group ">
            <label>Course Name</label>
            <input type="text" ng-model="detail.name" class="form-control" placeholder="Course Name" required />
        </div>
         <div class="form-group ">
            <label>Description</label>
            <input type="text" ng-model="detail.description" class="form-control" placeholder="Description" required />
        </div>
         <div class="form-group">
            <label>Curriculum Year</label>
            <input type="number" ng-model="detail.curr_years" class="form-control" placeholder="How many months/years" required />
        </div> 
        </div>
    </div>
    <div class="form-group text-right m-b-0">
                        <a href="" class="btn btn-primary waves-effect waves-light" type="button" ng-click="save()">Save</a>
                        <a href="" type="button" class="btn btn-danger waves-effect waves-light m-l-5 " ng-click="cancel()">Cancel</a>
                                </div>
    
</div>
</div>



<style type="text/css">
    /* ==============
  Panels
===================*/
.panel {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.panel .panel-body {
  padding: 20px;
}
.panel .panel-body p {
  margin: 0px;
}
.panel .panel-body p + p {
  margin-top: 15px;
}
.panel-heading {
  border-radius: 0;
  border: none !important;
  padding: 10px 20px;
}
.panel-default > .panel-heading {
  background-color: #fafafa;
  border-bottom: none;
  color: #797979;
}
.panel-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.panel-footer {
  background: #fafafa;
  border-top: 0px;
}
.panel-color .panel-title {
  color: #ffffff;
}
.panel-primary > .panel-heading {
  background-color: #6e8cd7;
}
.panel-success > .panel-heading {
  background-color: #33b86c;
}
.panel-info > .panel-heading {
  background-color: #29b6f6;
}
.panel-warning > .panel-heading {
  background-color: #ffd740;
}
.panel-danger > .panel-heading {
  background-color: #ef5350;
}
.panel-purple > .panel-heading {
  background-color: #7e57c2;
}
.panel-pink > .panel-heading {
  background-color: #ec407a;
}
.panel-inverse > .panel-heading {
  background-color: #4c5667;
}
</style>