<div class="panel panel-color panel-inverse">
    <div class="panel-heading">
        <h3 class="panel-title">Post Preview</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-inverse"><strong style="font-size: 18px; margin-left: 20px;">
                            {{object.subject || 'None'}}</strong></div>
                <div class="col-sm-4" ng-if="object.image_path">
                    <img src="{{object.image_path}}" class="thumb-img img-xs img-responsive">
                </div>
                <div class="col-sm-8">
                    <blockquote>
                        <p>{{object.post}}</p>
                    </blockquote>
                    <div class="" ng-if="object.category == 'Event'">
                        <span><strong>Event Date:{{object.event_date| date:'longDate' }} </strong><i><!-- diri ibutang ang date sa event  --></i></span>
                        <br>
                        <span><strong>Start:{{object.event_start}}</strong><i><!-- diri ibutang ang date sa event  --></i></span>
                        <br>
                        <span><strong>End:{{object.event_end}}</strong><i><!-- diri ibutang ang date sa event  --></i></span>
                        <br>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="inbox-widget">
                        <a href="javascript:void(0)">
                            <div class="inbox-item">
                                <div class="inbox-item-img"><img src="{{object.alumni.image_path}}" class="img-circle user-thumb" alt=""></div>
                                <p class="inbox-item-author">{{object.alumni.firstname}} {{object.alumni.lastname}}</p>
                                <p class="inbox-item-text">{{object.alumni.course.name}}</p>
                                <p class="inbox-item-date">{{object.date_created | date:'shortTime'}}</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 text-left">
                    <span>Post Category: </span><span class="label label-primary">{{object.category}}</span>
                </div>
            </div>
        </div>
        <div class="form-group text-right m-b-0">
            <a href="" ng-if="object.approved == 0" class="btn btn-success waves-effect waves-light" type="button" ng-click="approve(object)"><i class="fa fa-plus"></i> Add to News Feed</a>
            <!-- <a href="" class="btn btn-danger waves-effect waves-light" type="button" ng-click="deletepost(object)"><i class="fa fa-times"></i> Delete post</a> -->
            <a href="" type="button" class="btn btn-warning waves-effect waves-light m-l-5 " ng-click="cancel()"><i class="fa fa-times"></i> Back</a>
        </div>
    </div>
</div>
<style type="text/css">
/* ==============
  Panels
===================*/

.panel {
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.panel .panel-body {
    padding: 20px;
}

.panel .panel-body p {
    margin: 0px;
}

.panel .panel-body p + p {
    margin-top: 15px;
}

.panel-heading {
    border-radius: 0;
    border: none !important;
    padding: 10px 20px;
}

.panel-default > .panel-heading {
    background-color: #fafafa;
    border-bottom: none;
    color: #797979;
}

.panel-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.panel-footer {
    background: #fafafa;
    border-top: 0px;
}

.panel-color .panel-title {
    color: #ffffff;
}

.panel-primary > .panel-heading {
    background-color: #6e8cd7;
}

.panel-success > .panel-heading {
    background-color: #33b86c;
}

.panel-info > .panel-heading {
    background-color: #29b6f6;
}

.panel-warning > .panel-heading {
    background-color: #ffd740;
}

.panel-danger > .panel-heading {
    background-color: #ef5350;
}

.panel-purple > .panel-heading {
    background-color: #7e57c2;
}

.panel-pink > .panel-heading {
    background-color: #ec407a;
}

.panel-inverse > .panel-heading {
    background-color: #4c5667;
}

.inbox-widget .inbox-item {
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
}

.inbox-widget .inbox-item .inbox-item-img {
    display: block;
    float: left;
    margin-right: 15px;
    width: 40px;
}

.inbox-widget .inbox-item .inbox-item-author {
    color: #333333;
    display: block;
    margin: 0;
}

.inbox-widget .inbox-item .inbox-item-text {
    color: #a0a0a0;
    display: block;
    font-size: 12px;
    margin: 0;
}

.inbox-widget .inbox-item .inbox-item-date {
    color: #a9a9a9;
    font-size: 11px;
    position: absolute;
    right: 7px;
    top: 2px;
}

* {
    outline: none !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}
</style>
