<div class="modal-header">
    <h3 class="modal-title">Export</h3>
</div>
<div class="modal-body">
    <div class="box-body" style="padding-top: 20px;">
        <div class="form-group">
            <label class="col-sm-3 control-label">School Year</label>
            <div class="col-sm-9">
                <select class="form-control" ng-options="item.year as ((item.years -1)+'-'+ item.years) for item in years" ng-model="year" ng-change="checkyear(year)"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Select Course</label>
            <div class="col-sm-9">
                <select class="form-control" ng-options="item.name as item.name for item in courses" ng-model="course" ng-change="checkCourse(course)"></select>
            </div>
        </div>
        <div ng-if="display" id="print">
            <h3 ng-if="year" style="text-align: center;">School Year {{schoolyear}}</h3>
            <table ng-if="year" border="1" cellpadding="3" style=" font-family: arial, sans-serif;border-collapse: collapse;width: 100%;" id="printTable">
                <tr>
                    <th style=" border: 1px solid #dddddd;text-align: left;padding: 8px;">Name</th>
                    <th style=" border: 1px solid #dddddd;text-align: left; padding: 8px;">Address</th>
                    <th style=" border: 1px solid #dddddd;text-align: left;padding: 8px;">Contact number</th>
                    <th style=" border: 1px solid #dddddd;text-align: left;padding: 8px;">Email address</th>
                    <th style=" border: 1px solid #dddddd;text-align: left;padding: 8px;">Course</th>
                    <th style=" border: 1px solid #dddddd;text-align: left;padding: 8px;">Year graduated</th>
                </tr>
                <tr ng-repeat="item in list">
                    <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{item.lastname}},{{item.middlename}},{{item.lastname}}</td>
                    <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{item.address}}</td>
                    <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{item.contactnum}}</td>
                    <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{item.email_address}}</td>
                    <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{item.course.name}}</td>
                    <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{item.year_graduate || 'None'}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="printDiv()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
<style type="text/css">
@media print {
    body * {
        visibility: hidden;
    }
    #section-to-print,
    #section-to-print * {
        visibility: visible;
    }
    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }
}
</style>
